<%= form_for(@form, url: 'check', method: 'post') do |form| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label(:postcode, 'UK valid postcode:') %>
  <%= form.text_field(:postcode) %>
  <%= submit_tag('Check') %>
<% end %>
